.container {
    max-width: var(--max-width-container);
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.f-elements {
    display: flex;
}

.f-elements {
    align-items: center;
    justify-content: space-between;
}