.nav {
    /*position: relative;/*lo cambiamos .p-relative en html*/
    /*background-color: blue;/**/
    /*--test: #0088;/*ejemplo de pintado de slide*/
    --traslate-list-header: 100%;
    --scale-menu: 1;/*variable menu*/
    --scale-close: 0;/*variable cierre*/
    padding-top: 0.75rem;/**/
    padding-bottom: 0.75rem;/**/
}

.nav:target {
    /*--test: #0808;/*ejemplo de pintado de slide en click o target*/
    --traslate-list-header: 0;
    --scale-menu: 0;/*valor inverso .nav variable menu*/
    --scale-close: 1;/*valor inverso .nav variable cierre*/
}

.nav__logo {
    display: flex;/*eliminalineasinrellenardebajodeimagendellogo*/
    width: 48px;/**/
    height: 48px;/**/
    border-radius: 50%;/**/
}

.nav__icon {
    position: absolute;/*trabajacon.navenpositionrelative*/
    right: var(--padding-container);
    color: var(--primary-text-color);/*cambia el color del elemento del ancor*/
    font-size: 1.75rem;
    text-decoration: none;
    transition: transform 0.25s;/*tiempo de aparicion del icono*/
}

.nav__icon--menu {
    transform: scale(var(--scale-menu));
}

.nav__icon--close {
    transform: scale(var(--scale-close));
}

@media (min-width: 768px) {
    .nav {
        --traslate-list-header: 0;
        --scale-menu: 0;/*variable menu*/
        --scale-close: 0;/*variable cierre*/
    }

    .nav:target {
        --scale-close: 0;/*valor inverso .nav variable cierre*/
    }
}