.owl-container {
    max-width: var(--max-width-container);
    margin: 0 auto;
}

.owl-carousel__item {
    display: flex;
    height: 10rem;
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
}

