.hero {
    background-image: url(https://i.postimg.cc/4dLQxQwT/img-coffee-3.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;

    &__img {
        position: relative;
        max-width: var(--primary-image-hero);
    }

    &__primary-img {
        display: flex;
        background-color: var(secondary-shadow-color);
        background-color: #fff8;/**/
        border-radius: 10%;
        width: var(--secondary-image-hero);
        height: var(--secondary-image-hero);
    }

    &__decorators {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        animation: t-rotate 30s linear infinite;
    }
    
    &__decorator {
        position: absolute;
        display: flex;
        /*background-color: white;
        padding: 0.5rem;
        border-radius: 50%;/**/
    }
    
    &__decorator:nth-child(1) {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    &__decorator:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    
    &__decorator:nth-child(3) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    
    &__decorator:nth-child(4) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
}



@media (min-width: 768px) {
    .hero__img {
    max-width: var(--primary-image-hero);
    }

    .hero__primary-img {
    width: var(--primary-image-hero);
    height: var(--primary-image-hero);
    }
}