.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);

    &__title {
        font-size: 1.5rem;
        text-shadow:
            0 0 0.125rem var(--primary-highlight-color),
            0 0 0.25rem var(--primary-highlight-color);
        text-align: center;
        margin: 0;
    }
}


.container {
    /*background-color: blueviolet;/**/
    max-width: var(--max-width-container);
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    margin: auto;
}

.f-elements {
    display: flex;

    &--header {
        align-items: center;
        justify-content: space-between;
    }
    
    &--center {
        align-items: center;
        justify-content: center;
    }
    
    &--left {
        align-items: center;
        justify-content: left;
    }
    
    &--responsive {
        flex-direction: column;
    }
}


.g-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &--responsive {
        grid-template-columns: 100%;
    }
    
    &--center {
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

.g-cards-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &--responsive {
        grid-template-columns: 100%;
    }
    
    &--center {
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}


@media (min-width: 768px) {
    .f-elements--responsive {
        flex-direction: row;
    }
    .g-elements--responsive {
        grid-template-columns: 1fr 1fr;
    }
    .g-cards-elements--responsive {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}