.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--header {/*modificador directo empieza el slidemenu*/
        position: fixed;
        top: 4.125rem;/*ubicacion de menu en vista altura de la pagina*/
        left: 0;
        width: 100%;
        height: calc(100% - 4.125rem);/*tamañodelslide*/
        background-color: var(--transparencia_01);
        transform: translateX(var(--traslate-list-header));
        transition: 0.5s;
        /*trabaja conestilos f-direction--column*/
        /*trabaja conestilos f-elements--center*/
        /*background-color: var(--test)
        /*trabaja con botones header para slide*/;
    }
    &__link {
        position: relative;
        color: var(--primary-text-color);
        text-decoration: none;
        font-weight: 700;
        transition: color 0.25s;
    }
    
    &__link:hover {
        color: var(--secondary-text-color);
    }
    
    &__link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.6px;
        width: 0;/*trabaja con list__link:hover::before*/
        height: 0.0625rem;
        background-color: var(--secondary-text-color);
        transition: width 0.25s;
    }
    
    &__link:hover::before {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .list--header {
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
    }
}